<% provide(:title, "Edition de mon profil") %>
<h1 class="register-title">Mettre à jour votre profil</h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@utilisateur) do |f| %>
      <%= render 'shared/error_messages' %>

      <%= f.label :nom %>
      <%= f.text_field :nom, class: "form-control" %>

      <%= f.label :email %>
      <%= f.email_field :email, class: "form-control" %>

      <%= f.label :password %>
      <%= f.password_field :password, class: "form-control" %>

      <%= f.label :password_confirmation, "Confirmation" %>
      <%= f.password_field :password_confirmation, class: "form-control" %>

      <%= f.submit "Sauvgarder les changements", class: "btn btn-primary" %>
    <% end %>

    <div class="gravatar-edit">
      <%= gravatar_for @utilisateur %>
      <a href="http://gravatar.com/emails" target="_blank">Changer l'image</a>
    </div>
  </div>
</div>
