<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to image_tag("logo-kairios.jpg", alt: "Logo Kairios"), root_path,class: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to 'Accueil', root_path %></li>
        <li><%= link_to 'Services', services_path %></li>
        <li><%= link_to 'Team', team_path %></li>
        <li><%= link_to 'Contact', contact_path %></li>
      </ul>
    </nav>
  </div>
</header>